/*Menucss*/

table {
    /*width: 100%;*/
    /*border-collapse: collapse;*/
   /*text-align: center;*/
}
th, td {
    padding: 8px;
    /*text-align: left;*/
   
}
#advancedSearch {
  
}
#menuHeader {
    text-align: center;
    /*font-family: ;*/
    font-size: 550% ;
}
#backButton {
    display: inline;
}
#votingArea{
 background-color: pink;


}
#pollArea{
   
}